*{
    --body-color:#B2B4B2;
    --screen-color:#F0F0F0;
    --reset-color:#DC3545;
    --start-color:#198754;
    --level-color:#963e8a;
    --switch-color:#0D6EFD;
    font-family: 'ArcadeClassic',sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0; 
    background-color: #1a1a1a;
    display: flex;
    justify-content: center; 
    align-items: flex-start;   
    height: 600px; 
    min-height: 100vh;       /* 💡 KUNCI 1: Memenuhi tinggi layar device secara fleksibel */
    overflow: hidden;
}
main{
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 380px;
    max-width: 95vw;
    height: auto;
    border: 2px solid black;
    border-radius: 16px;
    padding: 4px;
}
#game-title h1{
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
}
#game-title p{
    margin: 0;
    padding: 0;
    font-size: 12px;
    text-align: center;
    line-height: 10px;
}
#screen{
    width: 330px;
    height: 420px;
    background-color: var(--screen-color);
    border-radius: 8px;
    border: 2px solid black;
    margin: 8PX 0 8PX 0;
    display: grid;
    grid-template-rows: 45px 330px 45px;
}
#message p{
    grid-row:1/2;
    text-align: center;
    margin-top: 0;
    padding: 0;
    margin-bottom: 8px;
}
#square-grid{
    grid-row:2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 8px;
    margin: 2px;
    
}
.square{
    border: 1px solid #333333;  
    font-size: 110px;
    text-align: center;  
     
}
.square:hover{
    opacity: 95%;
    transform: scale(0.95);
    background-color: rgba(0, 0, 0, 0.05);
}
.square.disabled {
    pointer-events: none;         
    cursor: default;     
}
#0 {
    grid-row: 1/2;
    grid-column: 1/2;
}
#1 {
    grid-row: 2/3;
    grid-column: 1/2;
}
#2 {
    grid-row: 3/4;
    grid-column: 1/2;
}
#3 {
    grid-row: 1/2;
    grid-column: 2/3;
}
#4 {
    grid-row: 2/3;
    grid-column: 2/3;
}
#5 {
    grid-row: 3/4;
    grid-column: 2/3;
}
#6 {
    grid-row: 1/2;
    grid-column: 3/4;
}
#7 {
    grid-row: 2/3;
    grid-column: 3/4;
}
#8 {
    grid-row: 3/4;
    grid-column: 3/4;
}
#player-choice{
    grid-row:3/4;
    
}
#player-choice p{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 20px;
}
#button-layout{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4px;
}
#button-layout button{
    width: 80px;
    height: 40Px;
    border-radius: 8px;
    box-shadow: 0 4px 0px #333; 
    transition: all 0.1s ease;
    margin-bottom: 16px;
    cursor: pointer;
}
#button-layout button:active {
    transform: translateY(3px);
    box-shadow: 0 1px 0px #333;
}
#start{
    background-color:var(--start-color);
}
#switch{
    background-color:var(--switch-color);
}
#level{
    background-color: var(--level-color);
}
#reset{
    background-color: var(--reset-color);
}